body{
    display: block;
    margin: 0;
    background-image:url(home.jpg);
    height: 100%;
    background-size: cover;
    
}

#Register-box{
    position: relative;
    margin: 5% auto;
    height: 500px;
    width: 700px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.kiri-bos{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color:#362F38;
    padding: 40px;
    width: 300px;
    height: 500px;
    
}
h1{
    color: white;
    font-size: 32px;
    font-family: Geometr706 BlkCn BT;

}
#Informasi{
    color: rgba(140, 135, 142, 1);
    font-family: Swis721 Lt BT;
    font-size: 15px;
}
#punyaakun{
    background-color: rgba(242, 169, 58, 1);
    border: none;
    border-radius: 10px 0px;
    color: black;
    text-align: center;
    padding: 10px 24px;
    font-size: 16px;
    margin-top: 120px;
    font-family: Swis721 Hv BT;
}

.kanan-bos{
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    width: 350px;
    height: 500px;
}
.kanan-bos h1{
    color: #362F38;
    font-size: 32px;
    font-family: Geometr706 BlkCn BT;
    padding-top: -5px;

}

#kanan{
    background-color: rgba(242, 169, 58, 1);
    border: none;
    border-radius: 10px 0px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 13px;
    margin-top: 100px;
    font-family: Swis721 Hv BT;
    margin-left: 25px;
}

.kanan-bos input{
    border-radius: 20px;
    height: 30px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-right: 20px;
    
}

.top{
    display: flex;
    flex-direction: row;
    margin-bottom:20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    margin-top:20px;
}

.sa input{
    position: relative;
}

a {
    font-family: Swis721 Lt BT;
    
}

.dua input {
    width: 96mm;
}